<center>This assignment was issued by BRAC University</center>
<br>
<center>It was completed by Sadnan Islam</center>

---
<center><a href='linktr.ee/sadnan736'><img src='https://github.com/sadnan736/Python-A2Z-CSE110-BRACU/blob/main/Socials.png?raw=true'  width="200"/></a></center>

## **Task 1**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td>hello world</td> 
</tr>
 </table>

In [ ]:
# the print function will print whatever is in the brackets.
# apostrophe symbol marks it as a string, quotation marks will also work
print('hello world')

hello world

## **Task 2**

Write a Python program that prints the summation of 54 and 56. The program must use Python operators and numbers but not use any variables.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td>110</td> 
</tr>
 </table>

In [2]:
# no symbol required because the two values are integers
print(54+56)

110

## **Task 3**

Write a Python program that assigns the values "Fall" and 2022 to variables `season` and `year` respectively. Then, print the values of both variables in separate lines.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td>Fall</td> 
</tr>
<tr>
    <td></td>
    <td>2022</td> 
</tr>
 </table>

In [3]:
# we assign variables by giving them a value (string,integer,float,boolean etc)
season = 'Fall'
year = 2022
print(season)
print(year)

Fall
2022

## **Task 4**

Write a Python program that reads the user's name and prints it back as shown in the example below.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td>John</td>
    <td>Your name is John</td> 
</tr>
<tr>
    <td>Albert</td>
    <td>Your name is Albert
</td> 
</tr>
 </table>

In [4]:
# we can do this in a lot of ways
# first we need to take an input and assign a variable to that
name = input ("Please enter your name: ")
# we can use ',' to seperate values in print function, it will be replaced by a space in the console
print("Your name is", name)

Please enter your name: Albert
Your name is Albert

## **Task 5**

Write a Python program that reads two integers M and N respectively and finds the value of M^N and prints the value as shown in the example.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td>2 <br>
    3</td>
    <td>2^3: 8</td> 
</tr>
<tr>
    <td>10 <br> 
    5</td>
    <td>10^3: 1000</td> 
</tr>
 </table>

In [6]:
# take M and N as inputs
M = int(input())
N = int(input())
# one way we can do power is by: base**exponent
pow = M**N

# now we have to format in the print function. this useful because ',' adds a space and using '+' too many times is very clunky and slow
# we can format by putting an f (newer) before the string, or .format() after
print(f'{M}^{N}: {pow}')

10
3
10^3: 1000

## **Task 6**

A sailor has a boat known as TÃ©ssares Boat, which has four corners. The boat is capable of carrying goods of any weight as long as there is equal distribution of loads on each corner of the boat - the center area has been occupied by the engine. The sailor needs your help to know the maximum amount of weight he can carry in each shipment.
Write a Python program that reads the total weight of the shipment and prints the maximum load (or weight) the boat can take from the given shipment. We can assume that the weight of each good is exactly 1 unit, therefore, the weight of 5 units means there are 5 (loose) items in the shipment.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td>9</td>
    <td>8</td> 
</tr>
<tr>
    <td>11</td>
    <td>8</td> 
</tr>
<tr>
    <td>23</td>
    <td>20</td> 
</tr>
 </table>

In [10]:
# -four corner, equal distribution
# we can calculate how much one corner will have to carry by floor dividing total weight by 4
corner1 = int(input())//4

# we can now multiply this by twelve and get the maxium weight the boat can take
max = corner1*4
print(max)

23
20

## **Task 7**

Write a Python program that reads 3 integers A, B, and C respectively, and then reads a floating point number D. After reading, the program should print the result (as int) using the given formula below.
Formula110: A^C+B*A-D/3

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td>2 <br>
    6 <br>
    8 <br>
    1.3
    </td>
    <td>267</td> 
</tr>
<tr>
    <td>9 <br>
    100 <br>
    1 <br>
    3.7
    </td>
    <td>907</td>
</tr>
<tr>
    <td>88 <br>
    22 <br>
    1 <br>
    3.3
    </td>
    <td>2022</td>
</tr>
 </table>

In [12]:
# first we need to take input
A = int(input())
B = int(input())
C = int(input())
D = float(input())

# python follows the order of operations, so
Formula110 = A**C + B*A - D/3
# if you want to be sure, you can use brackets to make sure that operation happens first

print(int(Formula110))

88
22
1
3.3
2022

## **Task 8**

Write a python program that takes an integer from the user which represents the number of chocolates that he/she has. He/She decided to distribute the chocolates equally among 3 friends, keeping the remaining chocolates for him/herself. Find out the number of chocolates each friend will receive and the number of chocolates that will be remaining.

**Sample Input 1:** <br>
50 <br>
**Sample Output 1:** <br>
Each friend will receive 16 chocolates <br>
The number of remaining chocolates is 2 <br>
**Sample Input 2:** <br>
90 <br>
**Sample Output 2:** <br>
Each friend will receive 30 chocolates <br>
The number of remaining chocolates is 0 <br>

In [14]:
original = int(input())
# to find how many each friend will receive we just need to floor divide by 3
each = original//3
# now multiply by 3 and substract from original
left = original - each*3
print(f'Each friend will receive {each} chocolates')
print(f'The number of remaining chocolates is {left}')

90
Each friend will receive 30 chocolates
The number of remaining chocolates is 0

## **Task 9**
*   Ungraded

## **Task 10**
*   Ungraded

## **Task 10**
*   Ungraded